
@import './font-Lorano.css';
@import './font-SpaceMono.css';
$color-1: #B2FC40;



h1, h2, h3 {
  font-family: "Lorano", sans-serif;
}
h1 {
  font-weight:bold;
  letter-spacing:2px;
}
h2 {
  font-weight:bold;
  font-size:1.3rem;
  letter-spacing:2px;
}

body{
  scroll-behavior:smooth;
  // max-width:100%;
  overflow:hidden;
}
*{
  z-index:10;
  font-family: "Space Mono", sans-serif;
  font-size:0.8rem;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#wrapper {
  height:110vh;
  width:100vw;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  overflow:hidden;
  background:url('../images/smalldash.png');
  background-size:4rem;
  background-position:right;
}
#wrapperAccent::before, #wrapperAccent::after {
  content: "";
  position:absolute;
  top:0;
  right:0;
  // border-right:101.5vw solid black;
  border-right:clamp(10rem,101vw,1880px) solid black;
  border-top:0px solid white;
  border-bottom:83vh solid transparent;
  width:0;
  height:0;
  z-index:3;
overflow:hidden;
}
#wrapperAccent::after {

  // border-right:100.5vw solid white;
  border-right:clamp(10rem,100.5vw,1880px) solid white;
  border-top:0px solid white;
  border-bottom:80vh solid transparent;
  width:0;
  height:0;
  z-index:4;
}
#MainLogo {
height:22rem;
width:22rem;
margin:0 auto;
color:black;
display:flex;
align-items:center;
border-radius:20px;
background-color:white;
border:3px solid #000;
border-radius:100%;
box-shadow:-5px 5px 0 #000;
}
#MainLogo h1 {
  // margin-left:1rem;
  font-size:2.8rem;
  margin:auto;
}
.logoShapes {
  min-width:4rem;
  min-height:4rem;
  // height:100%;
  position:relative;
  top:2rem;
  left:1rem;
  // display:inline-block;
  transform-origin:center;
  animation-name: mainLogoSpin;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: infinite;

  .logocircle {
    border-radius:100%;
    width:15%;
    height:15%;
    position:absolute;
    background-color:#000;
    &:nth-child(1) {
    left:0;
    top:40%;

    transform:scale(2.8);
    }
    &:nth-child(2) {
    left:50%;
    bottom:10%;

    transform:scale(1.8);
    }
    &:nth-child(3) {
    right:0;
    top:40%;
    transform:scale(1.1);
    }
  }

  &:nth-of-type(2){
    top:-2rem;
    left:-1rem;
    animation-name: mainLogoSpin2;
  }

}


@keyframes mainLogoSpin {
  0% {
  opacity:0;
    transform:rotate(-110deg);
  }
  30% {
    opacity:1;
    transform:rotate(25deg);
  }
  70% {
  opacity:1;
    transform:rotate(25deg);
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:0;
    transform:rotate(70deg);
  }
}
@keyframes mainLogoSpin2 {
  0% {
  opacity:0;
    transform:rotate(-320deg);
  }
  30% {
    opacity:1;
    transform:rotate(-155deg);
  }
  70% {
  opacity:1;
    transform:rotate(-155deg);
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:0;
    transform:rotate(-70deg);
  }
}

header {
  background:transparent;
  height:90vh;
}
main {
padding:0 3% 0 calc(3% + 8px);
max-width:1280px;
margin:0 auto;
}
.block {
  background-color:white!important;
  background:white;
  border:2px solid #000;
  box-shadow:-8px 8px 0 #000;
  border-radius:12px;
  padding:1.5rem;
  margin-top:4rem;
  margin-bottom:2rem;
  opacity:1;
  transition: opacity 0.3s;
}
.hide {
  opacity:0;
}
.swatch{
  width:80%;
  height:8rem;
  display:block;
  border:2px solid #000;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
}
.colorSwatch, .shadeSwatch{
  width:80%;
  height:8rem;
  border:2px solid #000;
  margin:0 auto;
  transition: background-color 0.4s;
}
.colorSwatch {
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;

}
.shadeSwatch {
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  margin-top:-2px;
  height:4rem;
}
.swatchlabel {
  color:#666;
  letter-spacing:1px;
  margin:2rem auto 1rem;
  font-family: "Space Mono", sans-serif;
  letter-spacing:2px;
  padding-bottom:2rem;
  border-bottom:2px dashed #000;
  max-width:13rem;
}
.shadelabel{
  font-size:1.2rem;
  color:#bbb;
}
.swatchText {
  background-color:#f5f5f5;
  border:none;
  font-size:1.9rem;
  max-width:80%;
}
.button {
  width:60%;
  margin:1rem auto;
  position:relative;
  left:20%;
  background-color:white;
  border-radius:10px;
  border:2px solid #000;
  box-shadow:-5px 5px 0 #333;
  padding:1rem;
  transition:background-color 0.2s;
  &:hover {
    background-color:#eee;
    cursor:pointer;
  }
  &:focus {
    outline:4px dashed #666;
    outline-offset:-6px;
  }
}
.block .column {
  margin-bottom:1rem;
}
.clipboard {
  cursor:pointer;
  height:1.6rem;
  fill:#999;
  margin-left:1rem;
  &:hover {
    fill:#bbb;
  }
}
.clipboardButton {
  background-color:transparent;
  cursor:pointer;
  border:none;
  background-size:100%;
  height:2rem;
  width:2rem;
  margin-left:1rem;
  position:absolute;
  // display:block;
  &:hover {
    fill:#777;
  }
}
.clipboardConfirmation {
  content: "Copied!";
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0rem;
  left:120%;
  z-index:20;
  right:100%;
  background-color:#FDEEC2;
  min-width:5rem;
  height:2rem;
  font-size:0.8rem;
  letter-spacing:0;
  border-radius:8px;
  color:black;
  margin:auto;
  opacity:0;
  transition:opacity 0.2s;
}
.subheader{
  font-size:4rem;
  padding:1.5rem 1.5rem 0;
  line-height: 5rem;
  width:100%;
  max-width:480px;
  margin:0 auto;
  align-items:center;
  transition:width 0.5s, max-width 0.5s;
  & p {
    visibility:hidden;
    height:0;
    padding:0;
    text-indent:2rem;
    line-height:2.4rem;
    font-size:0.9rem;
    opacity:0;
    border-top:2px dashed #fff;
    transition: opacity 0.2s, border-top 0.3s;
  }
}
.subheaderExpand {
  width:100%;
  max-width:100%;
  font-size:4rem;

  & .subheaderArrows {
    transform:rotate(180deg);
  }
  & p {
    height:100%;
    visibility:visible;
    padding:1.5rem 2.5rem;
    opacity:1;
    border-top: 2px dashed #000;
    margin:1rem auto 2rem;
    max-width:800px;
  }
}
.subheaderArrows {
  font-size:4rem;
  transition: transform 0.5s;
}
.infobox {
  display:flex;
  justify-content:space-around;
  cursor:pointer;
}
.speciali {
  font-size:2rem;
  border:2px solid #000;
  box-shadow:-4px 4px 0 #000;
  border-radius:100%;
  width:4rem;
  height:4rem;
  line-height:3.7rem;
  color:black;
  text-align:center;
  background-color:white;
  position:relative;
  &:after {
    content: " ";
    position:absolute;
    left:0;
    border-radius:100%;
    box-shadow:2px -4px 0px #666 inset;
    width:100%;
    height:100%;
  }
  &:before {
    content: " ";
    position:absolute;
    left:0;
    border-radius:100%;
    box-shadow:0px 0px 4px 4px  #eee inset;
    width:100%;
    height:100%;
  }
}
