@font-face {
  font-family: "Space Mono";
  src: url("./fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Space Mono";
  src: url("./fonts/SpaceMono-Bold.ttf");
  font-weight:bold;
}
@font-face {
  font-family: "Space Mono";
  src: url("./fonts/SpaceMono-Italic.ttf");
  font-style:italic
}
